.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    color: rgba(0, 26, 255, 0.903);
}

.pro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 40px;
    gap:20px
}